<div class="container">
  <div class="jumbotron-fluid">
  <h3><%=  link_to "Back to Pack", pack_path(@den.pack) if @den.pack %> 
(<%= link_to "Edit Den", edit_pack_den_path(@den.pack, @den) if @den.pack %>)</p>

  <h2>Den Name: <%= @den.den_name %></h2> <br><br>
  <h2>Grade Level: <%= @den.grade %></h2><br><br>
  <h2>Meeting Time: <%= @den.meeting_time %></h2><br><br>
  <h2>Scouts:</h2>
 
  <% @den.scouts.each do |s| %>
    <ul>
      <li><u><%= link_to s.full_name, scout_path(s)%></u></li>
     
    </ul>
  <% end %>

  </div>
</div>

