<div class="container">
  <div class="jumbotron-fluid">
    <h1>Welcome to Cub Scout Manager!</h1>

    <% if !logged_in? %>

    <%= link_to "Sign Up", signup_path %> |

    <%= link_to "Login", login_path %> |

    <%= link_to "Sign in Via Google", "/auth/google_oauth2" %> 

    <% else %>

    <h1>Management Dashboard</h1>

    <%= link_to  "Leaders", leaders_path, :class => "btn btn-primary btn-sm" %>
    <%= link_to  "Scouts", scouts_path, :class => "btn btn-primary btn-sm" %> 
    <%= link_to  "Packs", packs_path, :class => "btn btn-primary btn-sm" %>
    <%= link_to  "Dens", dens_path, :class => "btn btn-primary btn-sm"%>
    <% end %>

  </div>
</div>






