<h3><%=  link_to "Back to Pack", pack_path %> 

<h2>Scout Name: <%= @scout.full_name %></h2> <br><br>
<h2>Grade Level: <%= @scout.grade %></h2><br><br>
<h2>Den: <%= @scout.den.den_name %></h2><br><br>
<h2>Pack: <%= @scout.den.pack.pack_number %></h2><br><br>

