<% content_for :content do %>

    <div class="jumbotron text-center">
        <h1>Pack Info</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <%= yield %>
                </p>
            </div>

    
   
            <div class="col-lg-6">
                <p>

                    <div class="caption"><strong>You can always count on a pack to be friendly and welcoming!</strong>
                    <% @packs.each do |pack| %>
    <br><br>
                        <h2>Pack Number: <%= pack.pack_number %></h2><br>
                        <h2>Charter Organization: <%= pack.charter_organization %></h2><br>
                      <ul><%= pack.dens.each do |den|%></ul>
                       
                            <li><h3><%= link_to den.den_name, den_path(den) %> Den| Meeting Time: <%= den.meeting_time %> | Leader: <%= den.leaders.each do |leader| %></h3> 
                                
                                <%= leader.full_name %>
                            <%end%>
                             </li>
                        <% end %>
                    <% end %>
                </p>

            </div>
        </div>
    </div>

<% end %>
<%= render template: "layouts/application" %>