<u><h3>Pack Number</u>: <%= @pack.pack_number %> </h3>
<u><h3>Charter Organization</u>:  <%= @pack.charter_organization %> </h3><br>

<div style="display: inline-block">
  <h4>Dens: </h4>
  <%= @pack.dens.each do |den| %>
    <div style="display: inline-block"><ul><li><%= link_to den.den_name, den, :class => "btn btn-primary btn-sm"  %></li></ul></div>
  <%end%>
  <br>
<%= link_to "Create New Den", new_pack_den_path(@pack), :class => "btn btn-primary btn-sm"  %>
<br>
</div>

<div style="display: inline-block">
  <h4>Leaders: </h4>
  <%= @pack.leaders.each do |l| %>
    <div style="display: inline-block"><ul><li><%= link_to l.full_name, l, :class => "btn btn-primary btn-sm"  %></li></ul></div>
  <%end%>
</div>

<div style="display: inline-block">
  <h4>Scouts: </h4>
  <%= @pack.scouts.each do |s| %>
    <div style="display: inline-block"><ul><li><%= link_to s.full_name, s, :class => "btn btn-primary btn-sm"  %></li></ul></div>
  <%end%>
</div>

