<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">

    <div class="container">
        <button type="button" class="btn btn-xs active btn-info" data-toggle="collapse" data-target="#collapse-nav-div" aria-expanded="false">Toggle Nav Links</button> 
        <div class="collapse" id="collapse-nav-div">
            <ul class="nav navbar-nav mr-auto">
                <li class='nav-item'><%= link_to 'Log Out', logout_path, method: :delete, class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to "Home", '/', class: 'nav-link' %></li></li>  
                <li class='nav-item'><%= link_to "Leaders", leaders_path, class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to "Scouts", scouts_path, class: 'nav-link'%></li> 
                <li class='nav-item'><%= link_to "Packs", packs_path, class: 'nav-link'%></li>
                <li class='nav-item'><%= link_to "Dens", dens_path, class: 'nav-link'%></li>
            </ul>
        </div>
    
    </div>
    
</nav>

